body{
    background-color: #fbd139;
}

h1{
    color: rgb(45, 191, 196);
    background-color: (83, 196, 45);
}

#show_sketch
{
    float: right;
}


canvas
{
    border: 5px soild white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px     #ad6463;}
    to{box-shadow: 1px 1px 38px    #4727c4  ;}

    
    
}